/*This is the css file for the maintenance-page.html file*/

* {
  /* Reset all elements to have no margin or padding */
  /* and set box-sizing to border-box for consistent sizing */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*body styling for the entire body*/
body {
  background-color: rgba(30, 30, 30, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

/*header styling for the entire header*/
header {
  display: flex;
  border-bottom: 5px solid black;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

/*image styling for header logo*/
.header-logo img {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  margin-right: 20px;
}

/*This styles the text of all <a> links*/
a {
  color: #ffd700;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

/*This styles all <a> links hover style*/
a:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

/*This is now the styling of the main content*/
main {
  background-color: rgba(30, 30, 30, 0.7);
  width: 100%;
  padding: 10px 30px;
}

.two-column {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-column,
.right-column {
  min-height: 200px;
}

.left-column {
  flex: 1 1 100px;
}

.right-column {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.right-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*h1 styling*/
h1 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  padding: 20;
}

/*h2 styling*/
h2 {
  color: #ffd700;
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  padding: 20;
}
/* h3 styling*/
h3 {
  color: #ff5252;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  padding: 20;
}

.left-column img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  align-items: center;
  justify-content: center;
}

.percentage {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zero-percent {
  color: #ff5252;
  font-size: 1.4rem;
}

.onehundred-percent {
  color: #00e676;
  font-size: 1.4rem;
}
